.sidebar {
	inline-size: calc(100% - var(--inline-size-activitybar));

	:where(a, button) {
		--gap: 8px;
		--padding-inline: 6px;

		display: flex;
		gap: var(--gap);
		inline-size: 100%;
		margin-inline: calc(var(--padding-inline) * -1);
		border-radius: var(--border-radius-sm);

		&:not(:is(.activated, :focus-visible, :hover)) {
			color: var(--color-secondary-1);
		}

		&:is(.activated, :focus-visible, :hover) {
			color: var(--color-secondary-4);
		}

		&:not([disabled]):is(:focus-visible, :hover) {
			background-color: var(--color-primary-1);
		}
	}

	ul {
		li {
			+ &,
			ul {
				margin-block-start: 4px;
			}

			ul {
				li {
					:is(a, button, span) {
						padding-inline-start: calc(
							var(--padding-inline) + var(--gap) + var(--size-icon-sm)
						);
					}
				}
			}

			&:not(& ul li) {
				> :is(a, button, span) {
					padding-inline: var(--padding-inline);
				}
			}
		}
	}
}
