.key {
  position: relative;
  width: 49px;
  height: 28px;
  background: var(--color-base-1);
  border: var(--border);
  border-radius: var(--border-radius);

  & span {
    --height-triangle: 6px;
    --width-triangle: 9px;

    position: absolute;
    inset: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-color: transparent transparent var(--color-secondary-4);
    border-style: solid;
    border-width: 0 calc(var(--width-triangle) / 2) var(--height-triangle);

    &.up {
      rotate: 0deg;
    }

    &.down {
      rotate: 180deg;
    }

    &.left {
      rotate: 270deg;
    }

    &.right {
      rotate: 90deg;
    }
  }
}
