.key {
	position: relative;
	width: 49px;
	height: 28px;
	background: var(--color-base-1);
	border: var(--border);
	border-radius: var(--border-radius);

	span {
		--width: 9px;

		position: absolute;
		inset: 0;
		width: var(--width);
		height: calc(var(--width) / 2 * sqrt(3));
		margin: auto;
		clip-path: polygon(50% 0, 100% 100%, 0 100%);
		background-color: var(--color-secondary-4);

		&.up {
			rotate: 0deg;
		}

		&.down {
			rotate: 180deg;
		}

		&.left {
			rotate: 270deg;
		}

		&.right {
			rotate: 90deg;
		}
	}
}
