.activitybar {
	flex-basis: var(--inline-size-activitybar);
	flex-shrink: 0;
	border-inline-end: var(--border);

	ul {
		li {
			padding-block: 17px;
			text-align: center;

			button {
				line-height: 1;
				color: var(--color-foreground-secondary);

				&:is([disabled], :focus-visible, :hover) {
					color: var(--color-foreground);
				}
			}

			.icon {
				font-size: var(--icon-size-lg);
			}
		}
	}
}
