.container {
	display: flex;
	height: var(--height-main); /* TEMP: */

	aside {
		--width-activitybar: 67px;
		--width-sidebar: var(--width-sitetitle);

		display: flex;
		flex-basis: var(--width-sidebar);
		border-inline-end: var(--border);

		.activitybar {
			flex-basis: var(--width-activitybar);
			background-color: red; /* TEMP: */
			border-inline-end: var(--border);
		}

		.sidebar {
			flex-basis: calc(100% - var(--width-activitybar));
			background-color: blue; /* TEMP: */
		}
	}

	.pane {
		flex-grow: 1;
		background-color: yellow; /* TEMP: */

		+ & {
			border-inline-start: var(--border);
		}
	}
}
