.container {
	display: flex;
	block-size: var(--block-size-main); /* TEMP: */

	aside {
		--inline-size-activitybar: 67px;
		--inline-size-sidebar: var(--inline-size-sitetitle);

		display: flex;
		flex-basis: var(--inline-size-sidebar);
		border-inline-end: var(--border);

		.activitybar {
			flex-basis: var(--inline-size-activitybar);
			background-color: red; /* TEMP: */
			border-inline-end: var(--border);
		}

		.sidebar {
			flex-basis: calc(100% - var(--inline-size-activitybar));
			background-color: blue; /* TEMP: */
		}
	}

	.pane {
		flex-grow: 1;
		background-color: yellow; /* TEMP: */

		+ & {
			border-inline-start: var(--border);
		}
	}
}
