.sidebar {
	inline-size: calc(100% - var(--inline-size-activitybar));

	ul {
		li {
			--margin-block-start: 4px;

			:where(a, button) {
				--gap: 8px;
				--padding-inline: 6px;

				display: flex;
				gap: var(--gap);
				inline-size: 100%;
				margin-inline: calc(var(--padding-inline) * -1);
				border-radius: var(--border-radius-sm);

				&:not(:is([disabled], :focus-visible, :hover)) {
					color: var(--color-foreground);
				}

				&:is([disabled], :focus-visible, :hover) {
					color: var(--color-foreground-primary);
				}

				&:not([disabled]):is(:focus-visible, :hover) {
					background-color: var(--color-background-primary);
				}
			}

			+ & {
				margin-block-start: var(--margin-block-start);
			}

			> :is(a, button, span) {
				padding-inline: var(--padding-inline);
			}

			ul {
				margin-block-start: var(--margin-block-start);

				li {
					a,
					button,
					span {
						padding-inline-start: calc(var(--padding-inline) + var(--gap) + var(--icon-size-xs));
					}
				}
			}
		}
	}
}
