:root {
	--font-family-default: monospace, "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
	--font-family-primary: "Fira Code Retina", "Fira Code", "Fira Code Medium", "Fira Code Regular", "Fira Code Light";
	--font-size-headline: 62px;
	--font-size-subheadline: 32px;
	--font-size-body: 18px;
	--font-size-label: 16px;
	--font-size-code: 14px;
	--font-size-annotation: 12px;
}
