.key {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 49px;
	block-size: 28px;
	background-color: var(--color-background);
	border: var(--border);
	border-radius: var(--border-radius-md);

	.icon {
		font-size: 9px;
	}
}
