# prevent linter conflicts
*.js
*.cjs
*.mjs
*.ts
*.cts
*.mts
*.jsx
*.tsx
*.json
*.jsonc
.*rc
.vscode/launch.json
.vscode/*.code-snippets

# dev
.yarn/
!.yarn/releases
.vscode/*
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
src/styled-system/

# build
dist/
lib/
lib-types/
server/

# deps
node_modules/

# cache
.cache/
.mf
.rollup.cache
tsconfig.tsbuildinfo

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
