.accordion {
	--padding: 14px;

	font-size: var(--font-size-label);

	.head {
		display: flex;
		gap: 11px;
		align-items: center;
		inline-size: 100%;
		block-size: var(--block-size-tab);
		padding-inline: var(--padding);
		border-block-end: var(--border);

		&:is(:focus-visible, :hover) {
			color: var(--color-foreground-primary);
		}

		.icon {
			font-size: 9px;
			transition: var(--transition);
		}
	}

	.body {
		overflow: hidden;
		transition: var(--transition);

		.container {
			padding: var(--padding);
			border-block-end: var(--border);
		}
	}

	&:last-child {
		.body {
			.container {
				border-block-end: none;
			}
		}
	}
}
