.button {
	padding-block: 10px;
	padding-inline: 14px;
	font-size: var(--font-size-code);
	border-radius: var(--border-radius-md);

	&[disabled] {
		opacity: 0.5;
	}

	&.primary {
		background-color: var(--color-background-primary);

		&:is(:focus-visible, :hover) {
			background-color: var(--color-background-secondary);
		}
	}

	&.accent {
		color: var(--color-background);
		background-color: var(--color-accent-5);

		&:is(:focus-visible, :hover) {
			background-color: var(--color-accent-5-secondary);
		}
	}

	&.ghost {
		border: var(--border);

		&:is(:focus-visible, :hover) {
			background-color: var(--color-background-secondary);
		}
	}
}
