.editor {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	block-size: var(--block-size-main);
	overflow: scroll;

	.pane {
		flex-basis: 400px;
		flex-grow: 1;
		block-size: var(--block-size-main);
		border-inline-end: var(--border);

		&:last-child {
			border-inline-end: none;
		}

		.content {
			block-size: calc(100% - var(--block-size-tab));
			padding: 18px 40px;
			overflow: scroll;
		}
	}
}
