.footer {
	display: flex;
	block-size: var(--block-size-footer);
	border-block-start: var(--border);

	> :not(:last-child) {
		border-inline-end: var(--border);
	}

	> :last-child {
		margin-inline-start: auto;
		border-inline-start: var(--border);
	}

	p,
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		block-size: 100%;
		font-size: var(--font-size-label);
	}

	p {
		padding-inline: 22px 18px;
	}

	a {
		&:is(.x, .facebook) {
			inline-size: 52px;
			color: var(--color-foreground-secondary);

			&:is(:focus-visible, :hover) {
				color: var(--color-foreground);
			}
		}

		&.github {
			gap: 7px;
			padding-inline: 23px;
			border-bottom-right-radius: var(--border-radius-md);

			&:is(:focus-visible, :hover) {
				color: var(--color-foreground-primary);
			}
		}

		.icon {
			font-size: var(--icon-size-md);
		}
	}
}
