.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	inline-size: 100%;
	block-size: var(--block-size-header);
	font-size: var(--font-size-label);
	background-color: var(--color-background);
	border-block-end: var(--border);
	border-start-start-radius: var(--border-radius-md);
	border-start-end-radius: var(--border-radius-md);

	.title {
		display: flex;
		flex-basis: var(--inline-size-sitetitle);
		flex-shrink: 2;
		align-items: center;
		border-inline-end: var(--border);

		.link {
			display: flex;
			align-items: center;
			inline-size: 100%;
			block-size: 100%;
			padding-inline: 22px;
			border-start-start-radius: var(--border-radius-md);
		}
	}
}
