.form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-size: var(--font-size-label);

	.item {
		--padding-block: 7px;

		inline-size: 372px;

		input,
		textarea {
			display: block;
			inline-size: 100%;
			padding: var(--padding-block) 15px;
			margin-top: 10px;
			background-color: var(--color-background-secondary);
			border: var(--border);
			border-radius: var(--border-radius-md);
		}

		textarea {
			max-block-size: calc(24px * 14 + var(--padding-block) * 2);
		}
	}
}
