.accordion {
	font-size: var(--font-size-label);

	.header {
		inline-size: 100%;
		background-color: red; /* TEMP: */
	}

	.content {
		max-block-size: 0;
		overflow: hidden;
		background-color: blue; /* TEMP: */
		transition: var(--transition);

		&.opened {
			max-block-size: 500px;
		}
	}
}
