.accordion {
	font-size: var(--font-size-label);

	.header {
		display: flex;
		gap: 11px;
		align-items: center;
		inline-size: 100%;
		block-size: 40px;
		padding-inline: 14px;
		border-block-end: var(--border);
	}

	.content {
		max-block-size: 0;
		overflow: hidden;
		transition: var(--transition);

		&.opened {
			max-block-size: 500px;
		}
	}
}
