.pane {
	flex-basis: 400px;
	flex-grow: 1;
	block-size: var(--block-size-main);
	border-inline-end: var(--border);

	&:last-child {
		border-inline-end: none;
	}

	.content {
		padding: 18px 40px;
	}
}
