.container {
	display: flex;
	block-size: var(--block-size-tab);
	border-block-end: var(--border);

	.tab {
		display: flex;
		gap: 49px;
		align-items: center;
		padding-inline: 14px;
		font-size: var(--font-size-label);
		border-inline-end: var(--border);

		button {
			padding: 2px;
			line-height: 1;
			border-radius: var(--border-radius-round);

			&:not([disabled]):is(:focus-visible, :hover) {
				background-color: var(--color-background-secondary);
			}

			.icon {
				font-size: var(--icon-size-sm);
			}
		}
	}
}
