:root {
	--inline-size-sitetitle: 311px;
	--block-size-header: 56px;
}

.header {
	display: flex;
	block-size: var(--block-size-header);
	font-size: var(--font-size-label);
	border-block-end: var(--border);

	.title {
		display: flex;
		flex-basis: var(--inline-size-sitetitle);
		flex-shrink: 2;
		align-items: center;
		color: var(--color-secondary-1);
		border-inline-end: var(--border);

		.link {
			display: flex;
			align-items: center;
			inline-size: 100%;
			block-size: 100%;
			padding-inline: 22px;

			&:is(:focus-visible, :hover) {
				color: var(--color-secondary-4);
			}

			&.disabled {
				pointer-events: none;
			}
		}
	}
}
