.navigation {
	flex: 1 1 709px;

	ul {
		container-type: inline-size;
		display: flex;
		block-size: 100%;

		li {
			border-inline-end: var(--border);

			@container (inline-size < 709px) {
				flex-grow: 1;
			}

			&:last-child {
				margin-inline-start: auto;
				border-inline-start: var(--border);
				border-inline-end: none;
			}

			a {
				--padding-inline: 32px;

				display: flex;
				align-items: center;
				justify-content: center;
				block-size: 100%;
				padding-inline: var(--padding-inline);
				color: var(--color-secondary-1);

				@container (inline-size < 709px) {
					--padding-inline: 0;
				}

				&:is(:focus-visible, :hover),
				&.activated {
					color: var(--color-secondary-4);
				}

				&.activated {
					box-shadow: inset 0 calc(var(--border-width-lg) * -1) 0
						var(--color-accent-1);
				}
			}
		}
	}
}
