.navigation {
	flex: 1 1 709px;

	ul {
		container-type: inline-size;
		display: flex;
		block-size: 100%;

		li {
			@container (inline-size < 709px) {
				flex-grow: 1;
			}

			.link {
				--padding-inline: 32px;

				display: flex;
				align-items: center;
				justify-content: center;
				block-size: 100%;
				padding-inline: var(--padding-inline);

				@container (inline-size < 709px) {
					--padding-inline: 0;
				}

				&:is(.activated, :focus-visible, :hover) {
					color: var(--color-foreground-primary);
				}

				&.activated {
					box-shadow: inset 0 calc(var(--border-width-lg) * -1) 0 var(--color-accent-1);
				}
			}

			&:not(:last-child) {
				border-inline-end: var(--border);
			}

			&:last-child {
				margin-inline-start: auto;
				border-inline-start: var(--border);

				.link {
					border-top-right-radius: var(--border-radius-md);
				}
			}
		}
	}
}
