:root {
	--font-family-default: monospace, "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
	--font-family-primary: "Fira Code Retina", "Fira Code", "Fira Code Medium", "Fira Code Regular", "Fira Code Light";
	--font-size-headline: 62px;
	--font-size-subheadline: 32px;
	--font-size-body: 18px;
	--font-size-label: 16px;
	--font-size-code: 14px;
	--font-size-annotation: 12px;
	--icon-size-xs: 16px;
	--icon-size-sm: 18px;
	--icon-size-md: 20px;
	--icon-size-lg: 24px;
	--color-background: var(--palette-background);
	--color-background-primary: var(--palette-background-primary);
	--color-background-secondary: var(--palette-background-secondary);
	--color-background-tertiary: var(--palette-background-tertiary);
	--color-foreground: var(--palette-foreground);
	--color-foreground-primary: var(--palette-foreground-primary);
	--color-foreground-secondary: var(--palette-foreground-secondary);
	--color-accent-0: var(--palette-gray);
	--color-accent-0-primary: var(--palette-gray-primary);
	--color-accent-1: var(--palette-orange);
	--color-accent-1-primary: var(--palette-orange-primary);
	--color-accent-2: var(--palette-red);
	--color-accent-2-primary: var(--palette-red-primary);
	--color-accent-3: var(--palette-green);
	--color-accent-3-primary: var(--palette-green-primary);
	--color-accent-4: var(--palette-yellow);
	--color-accent-4-primary: var(--palette-yellow-primary);
	--color-accent-5: var(--palette-blue);
	--color-accent-5-primary: var(--palette-blue-primary);
	--color-accent-6: var(--palette-purple);
	--color-accent-6-primary: var(--palette-purple-primary);
	--color-accent-7: var(--palette-aqua);
	--color-accent-7-primary: var(--palette-aqua-primary);
	--border: var(--border-width-md) solid var(--color-background-tertiary);
	--border-width-md: 1px;
	--border-width-lg: 3px;
	--border-radius-sm: 4px;
	--border-radius-md: 8px;
	--border-radius-round: 9999px;
	--transition: all 0.25s ease-in-out;
}

* {
	&:focus-visible {
		outline: var(--border-width-lg) solid var(--color-accent-1);
		outline-offset: calc(var(--border-width-lg) * -1);
	}
}

html {
	padding: var(--padding-outside);
	font-size: var(--font-size-body);
	color: var(--color-foreground);
	background-color: var(--color-background-primary);

	body {
		position: relative;
		box-sizing: content-box;
		block-size: var(--block-size-body);
		overflow: hidden;
		font-family: var(--font-family-primary), var(--font-family-default);
		background-color: var(--color-background);
		border: var(--border);
		border-radius: var(--border-radius-md);

		main {
			box-sizing: content-box;
			block-size: var(--block-size-main);
			padding-block: var(--block-size-header) var(--block-size-footer);
			overflow: scroll;
		}

		a,
		button,
		input,
		textarea,
		select {
			transition: var(--transition);
		}
	}
}
