.form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	padding-block: 80px 50px;
	font-size: var(--font-size-label);

	.item {
		inline-size: 372px;

		input,
		textarea {
			margin-top: 10px;
		}

		p {
			display: none;
			margin-block-start: 6px;
			color: var(--color-accent-2-primary);
		}

		&.error {
			p {
				display: block;
			}

			input,
			textarea {
				outline-color: var(--color-accent-2-primary);
			}
		}
	}
}
