:root {
	--palette-background: #fbf1c7;
	--palette-background-primary: #ebdbb2;
	--palette-background-secondary: #f9f5d7;
	--palette-foreground: #3c3836;
	--palette-foreground-primary: #282828;
	--palette-foreground-secondary: #504945;
	--palette-gray: #928374;
	--palette-gray-primary: #7c6f64;
	--palette-red: #9d0006;
	--palette-red-primary: #cc241d;
	--palette-green: #79740e;
	--palette-green-primary: #98971a;
	--palette-yellow: #b57614;
	--palette-yellow-primary: #d79921;
	--palette-blue: #076678;
	--palette-blue-primary: #458588;
	--palette-purple: #8f3f71;
	--palette-purple-primary: #616286;
	--palette-aqua: #427b58;
	--palette-aqua-primary: #689d6a;
	--palette-orange: #af3a03;
	--palette-orange-primary: #d65d0e;

	@media (prefers-color-scheme: dark) {
		--palette-background: #282828;
		--palette-background-primary: #1d2021;
		--palette-background-secondary: #3c3836;
		--palette-foreground: #ebdbb2;
		--palette-foreground-primary: #fbf1c7;
		--palette-foreground-secondary: #d5c4a1;
		--palette-gray-primary: #a89984;
		--palette-red: #fb4934;
		--palette-green: #b8bb26;
		--palette-yellow: #fabd2f;
		--palette-blue: #83a598;
		--palette-purple: #d3869b;
		--palette-aqua: #8ec07c;
		--palette-orange: #fe8019;
	}
}
