:root {
	--palette-background: hsl(44deg 87% 94%);
	--palette-background-primary: hsl(46deg 42% 88%);
	--palette-background-secondary: hsl(45deg 29% 81%);
	--palette-background-tertiary: hsl(44deg 33% 91%);
	--palette-foreground: hsl(196deg 13% 45%);
	--palette-foreground-primary: hsl(194deg 14% 40%);
	--palette-foreground-secondary: hsl(180deg 7% 60%);
	--palette-gray: hsl(180deg 7% 60%);
	--palette-red: hsl(1deg 71% 52%);
	--palette-green: hsl(68deg 100% 30%);
	--palette-yellow: hsl(45deg 100% 35%);
	--palette-blue: hsl(205deg 69% 49%);
	--palette-purple: hsl(237deg 43% 60%);
	--palette-aqua: hsl(175deg 59% 40%);
	--palette-orange: hsl(18deg 80% 44%);
	--palette-accent-0: var(--palette-gray);
	--palette-accent-1: var(--palette-green);
	--palette-accent-2: var(--palette-yellow);
	--palette-accent-3: var(--palette-aqua);
	--palette-accent-4: var(--palette-red);
	--palette-accent-5: var(--palette-purple);
	--palette-accent-6: var(--palette-orange);
	--palette-accent-7: var(--palette-blue);

	@media (prefers-color-scheme: dark) {
		--palette-background: hsl(192deg 100% 11%);
		--palette-background-primary: hsl(192deg 81% 14%);
		--palette-background-secondary: hsl(193deg 100% 14%);
		--palette-background-tertiary: hsl(194deg 56% 12%);
		--palette-foreground: hsl(186deg 8% 55%);
		--palette-foreground-primary: hsl(180deg 7% 60%);
		--palette-foreground-secondary: hsl(194deg 14% 40%);
		--palette-gray: hsl(194deg 14% 40%);
		--palette-accent-1: var(--palette-green);
		--palette-accent-2: var(--palette-purple);
		--palette-accent-3: var(--palette-aqua);
		--palette-accent-4: var(--palette-yellow);
		--palette-accent-5: var(--palette-orange);
		--palette-accent-6: var(--palette-red);
		--palette-accent-7: var(--palette-blue);
	}
}
